@model IEnumerable<Models.BulletPoint>

<H1>@Html.DisplayNameFor(model => model.Point)</H1>

<ul>

    @foreach (var item in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => item)
        </li>
    }

</ul>
