
@{
    ViewBag.Title = "Thiago Delatorre - Assignment";
    Layout = "~/Areas/Assignment/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container-fluid">
    @{Html.RenderAction("_CTA", "_CTA", new { area = "" });}
</div>

<div class="container-fluid">
    @{Html.RenderAction("_Bulletin", "_Bulletin", new { area = "" });}
</div>