<div class="jumbotron">
    <h1>Dynamic CTA</h1>
    <p>At each load the phrase bellow is randomly selected:</p>
    <p>@ViewBag.message</p>
    <p><a class="btn btn-primary btn-lg" href="//google.com" role="button">Tell More!</a></p>
</div>