
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container-fluid">
    @{Html.RenderAction("_CTA");}
</div>

<div class="container-fluid">
    @{Html.RenderAction("_Bulletin");}
</div>